<h1>List of photos</h1>

<form action="/add_new_photo" method = "post">
  <label for="image_field">Image</label>
  <input type="text" id = "image_field" name = "new_image" placeholder = "Enter a URL for the image...">

  <label for="caption_field">Caption</label>
  <textarea name="new_caption" id="caption_field" rows="2" placeholder = "Enter a caption for the photo..."></textarea>

  <label for="owner_id_field">Owner ID</label>
  <input type="text" id = "owner_id_field" name = "new_owner_id" placeholder = "Enter an ID of a User">

  <button>Add photo</button>
</form>

<hr>

<table border = "1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <%Photo.all.order(:created_at => :desc).each do |each_image|%>
  <tr>
    <td><img src="<%=each_image.image%>" alt="<%=each_image.image%>"></td>
    <td><%=each_image.caption%></td>
    <td><%=each_image.poster.username%></td>
    <td><%=each_image.created_at%></td>
    <td><a href="/photos/<%=each_image.id%>">Show details</a></td>
  </tr>
  <%end%>
</table>
